<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<task:scheduler id="task" pool-size="1" />
	<task:scheduled-tasks scheduler="task">
		<task:scheduled ref="dataLoader" method="load" cron="0 30 2 ? * *" />
		<task:scheduled ref="loanJudgeTimer" method="execute" cron="0 00 06 * * ?" />
	</task:scheduled-tasks>
</beans>