<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxActive="${redis.pool.maxActive}" p:maxIdle="${redis.pool.maxIdle}"
		p:maxWait="${redis.pool.maxWait}" p:testOnBorrow="${redis.pool.testOnBorrow}" />
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:pool-config-ref="jedisPoolConfig" p:hostName="${redis.ip}" p:password="${redis.pass}" p:port="${redis.port}"/>

	<!-- redis template definition -->
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
		p:connection-factory-ref="jedisConnectionFactory" />

</beans>