<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="Datagram">
        <param value="'.'yyyy-MM-dd" name="DatePattern"/>
        <param value="/usr/local/CoreAccount-front/logs/datagram.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d [%t] %-5p [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.ConsoleAppender" name="Console">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d [%t] %-5p [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="RollingFile">
        <param value="'.'yyyy-MM-dd" name="DatePattern"/>
        <param value="/usr/local/CoreAccount-front/logs/front.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d [%t] %-5p [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="com.zendaimoney">
        <level value="info"/>
    </logger>
    <logger name="com.zendaimoney.coreaccount.front.filter.DatagramLogFilter">
        <level value="info"/>
        <appender-ref ref="Datagram"/>
    </logger>
    <logger name="jdbc.sqltiming">
        <level value="info"/>
    </logger>
    <logger name="org.hibernate">
        <level value="info"/>
    </logger>
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
    <root>
        <level value="warn"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>
</log4j:configuration>